.Header--bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15px;
  height: 60px;
  background-color: black;
}

.Header--logo {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
}

.Header--tagline {
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
}
